<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562959505004-0ac31vueonkvkdj2h1aolj4pn3esk8q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562959505004-0ac31vueonkvkdj2h1aolj4pn3esk8q6</string>
	<key>API_KEY</key>
	<string>AIzaSyCi4eKQdZxcTO_nBQHaNEd0dNA6Uz_gbdg</string>
	<key>GCM_SENDER_ID</key>
	<string>562959505004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatapp-backend-a0389</string>
	<key>STORAGE_BUCKET</key>
	<string>whatapp-backend-a0389.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562959505004:ios:bf5abfa3816da3aedcea49</string>
</dict>
</plist>